.sidenav {
    height: 100%;
    width: 20vw;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 10px;
    left: 0;
    overflow-x: hidden;
    word-wrap: break-word;
    /* Disable horizontal scroll */
}

.vl {
    border-left: 6px solid black;
    /* */
    height: 95vh;
    margin-left: 20vw;
    /*margin independent of sidenav. If less than width of sidenav, there will be overlap */
    position: fixed;
}

.button {
    text-align: center;
    margin: auto;
    background-color: aqua;
    width: 100%;
}

.main {
    margin-left: 25vw;
}

#add_todo {}

.item {
    border-style: solid;
    margin-top: 5px;
    position: relative;
}

#add_list {
    margin-left: 50vw;
}

#openProject {
    width: 100%;
    background-color: lightblue;
    margin-top: 1vh;
}

#deleteProject {
    width: 100%;
    background-color: red;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.priority {
    text-align: center;
}

.deleteBTN {

}